.card {
  width: 331px;
  height: 390px; /* Ajustei a altura */
  background-color: var(--primary);
  color: var(--gray);
  border-radius: 5px;
  box-shadow: 5px 5px 10px #22222270;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardImage {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #22222270;
}

.cardContent {
  text-align: center;
}

.cardTitle {
  color: var(--white);
  margin: 10px 0;
  text-align: left;
}

.cardDescription {
  color: var(--white);
  text-align: left;
}

.card_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.webLink, .repoLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--primary);
  font-size: 10px;
  text-decoration: none;
  box-shadow: 5px 5px 10px #22222270;
  transition: all 0.5s;
}

.webLink:hover, .repoLink:hover {
  background-color: var(--olive);
  color: var(--white);
}
